node_modules
.pnpm-store
.next
out
.vercel
.env
.env.local
.env.*.local
!.env.example
npm-debug.log*
pnpm-debug.log*
*.log
coverage
.nyc_output
.DS_Store
*.swp
.idea
.vscode/*
!.vscode/extensions.json
*.tsbuildinfo
next-env.d.ts
.turbo

# SQLite
*.db
*.db-journal
*.db-wal
*.db-shm

packages/db/.env
apps/web/.env.local
